*{
  margin: 0;
  padding: 0;
}
.header ,.footer{
  background-color: #0F1111;
  color: #ffffff;
}
.header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  padding: 5px;
  margin: 3px;
  justify-content: center;
  align-items: center;
}
.header .search-bar{
  margin-top: 2px;
}
.header .icon{
  background-color: #febd69;
  width: 40px;
  border-radius: 0px 4px 4px 0px;
  

}
.header .search-icon{
  margin-left: 10%;
  color: black;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
}